/* Home.css */
.analytical-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(209, 154, 51);
  color: black;
  padding: 30px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.header h1 {
  margin: 0;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
  margin-left: 10px;
}

.nav-links li:first-child {
  margin-left: 0; 
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}


.nav-links li a:hover {
  color: black;
}

.main-content {
  padding: 20px;
}

.footer {
  background-color: rgb(209, 154, 51);
  color: black;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}




.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  border-radius: 25px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}




.carousel {
  width: 100%;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.carousel-item {
  height: 600px; /* Adjust the height as needed */
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: center;
}

.carousel-caption h3 {
  font-size: 2rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.2rem;
}



.title-container {
  text-align: center;
  margin-top: 20px;
  background-color: black;
  border-radius: 10px;
}

.title-text {
  color: white;
  font-size: 2.5rem;
}
